.sub_department{
    margin-top: 5rem;
}
.sub_departmet h3{
    padding: 2rem 0 2rem 0;
    margin-bottom: 1rem;
}
.teacher{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.student{
    margin-top: 3rem;
}